/**
 * Contact section styles
 */

.contact {
  @extend %app-width;
  background: lighten($color-background, 3);
  padding: 0 1.5rem 1.5rem;

  p {
    @include medium-light;
    text-align: center;
    max-width: $app-max-block-width;
    margin-left: auto;
    margin-right: auto;
  }

  a {
    font-size: 1.3em;
    line-height: 1;
    margin-left: .5rem;
    color: darken($color-highlight, 20);
  }

  a:hover {
    color: lighten($color-primary, 20);
  }


  @include media(tablet) {
    padding-bottom: 3rem;
  }
}
