/**
 * Portfolion Section styles
 */

.portfolio {
  @extend %app-width;
  background: lighten($color-background, 3);
  padding: 0 1.5rem;

  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
  }
}


.gallery-item {
  margin: .5rem 0;

  img {
    max-width: 100%;
  }

  p {
    @include small-normal;
    text-align: center;
    padding: 0 2rem;
  }

  @include media(landscape) {
    width: 1 / 2 * 97.5%;
  }

  @include media(tablet) {
    margin: 1rem 0;
  }

  @include media(desktop) {
    width: 1 / 3 * 95%;
    margin-bottom: 1.5rem;
  }
}
