/**
 * Skills section styles
 */

.skills {
  @extend %app-width;
  padding: 0 1.5rem 1.5rem;
  background: $color-bg-medium;

  p {
    @include medium-light;
    text-align: center;
    max-width: $app-max-block-width;
    margin-left: auto;
    margin-right: auto;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: $app-max-block-width;
    margin: 0 auto;

    li {
      background-color: $color-highlight;
      margin: 7px;
      padding: 5px 20px;
      border-radius: 25px;
      border-bottom: 3px solid $color-bg-dark;
    }

    @include media(landscape) {
      li:nth-of-type(2n) {
        background-color: $color-bg-dark;
        color: $color-highlight;
      }
    }
  }
}
